python-dotenv==1.0.0
pytest==8.2.1
pytest-repeat==0.9.3
requests==2.32.1
webdriver-manager==4.0.1
pytest-xdist==3.5.0
pynput==1.7.6
testit-api-client==4.0.0
testit-adapter-pytest==3.2.2
testit-python-commons==3.2.2
mouse==0.7.1
faker==25.2.0
playwright==1.42.0
beautifulsoup4==4.12.2
